@font-face {
    font-family: 'Gilroy-LightItalic';
    src:url('font/Gilroy-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Gilroy-RegularItalic';
    src:url('font/Gilroy-RegularItalic.ttf') format('truetype');
}
body{
    background-color: rgb(18, 18, 18);
}

#about1{
    font-family:Gilroy-RegularItalic;
    /* width: 650; */
    font-size: 45pt;
    transform: translate(700px,130px);
    color: rgb(242, 242, 242);
    position: absolute;
}
#about2{
    font-family:Gilroy-RegularItalic;
    /* width: 650; */
    font-size: 40pt;
    transform: translate(490px,280px);
    color:  rgb(242, 242, 242);
    position: absolute;
    

}

#about3{
    font-family:Gilroy-RegularItalic;
    /* width: 650; */
    font-size: 20pt;
    transform: translate(660px,250px);
    color:  rgb(242, 242, 242);
    position: absolute;
}
#la{
    top: -250px;
    left: 80px;
    /* position: absolute; */
    position: fixed;
    transform: rotate(2deg);
}

