@font-face {
    font-family: 'Gilroy-LightItalic';
    src:url('font/Gilroy-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Gilroy-RegularItalic';
    src:url('font/Gilroy-RegularItalic.ttf') format('truetype');
}
body{
    background-color: rgb(0, 0, 0);
    width: 1300px;
}
#breaking{
   /* left: 200px; */
   /* top: 20px; */
   transform: translate(150px, 20px); 
}
#p{
    font-family:Gilroy-LightItalic;
    width: 650;
    transform: translate(700px,-130px);
    color: rgb(201, 255, 25);
    position: absolute;
}
#p1{
    font-family:Gilroy-RegularItalic;
    width: 650;
    font-size: 14pt;
    transform: translate(700px,-350px);
    color: rgb(201, 255, 25);
    position: absolute;
}
#p2{
    font-family:Gilroy-RegularItalic;
    width: 650;
    transform: translate(700px,-300px);
    color: rgb(201, 255, 25);
    position: absolute;
}

#p3{
    font-family:Gilroy-RegularItalic;
    width: 650;
    font-size: 16pt;
    transform: translate(700px,-400px);
    color: rgb(201, 255, 25);
    position: absolute;
}

#p4{
    font-family:Gilroy-RegularItalic;
    width: 650;
    font-size: 16pt;
    transform: translate(150px,150px);
    color: rgb(201, 255, 25);
    position: absolute;
}


#p5{
    font-family:Gilroy-RegularItalic;
    width: 650;
    font-size: 16pt;
    transform: translate(150px,900px);
    color: rgb(201, 255, 25);
    position: absolute;
}

#p6{
    font-family:Gilroy-RegularItalic;
    width: 650;
    font-size: 16pt;
    transform: translate(150px,2700px);
    color: rgb(201, 255, 25);
    position: absolute;
}







#la{
    top: -250px;
    left: -50px;
    /* position: absolute; */
    position: fixed;
    transform: rotate(2deg);
    z-index: 1;
}

/* .slideshow-container {
    padding-top: 250px;
    width: 80%;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
}

.slideshow {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slideshow img {
    height: 500px;
    width: 900px;
    object-fit: cover;
    flex: 0 0 auto;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(14, 14, 14);
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.prev {
    left: 150px;
    top: 1210px;
    color: rgb(201, 255, 25)
}

.next {
    right: 150px;
    top: 1210px;
    color:  rgb(201, 255, 25)
} */
#i1{
    /* width: 200; */
    transform: translate(150px,1000px);
    position: absolute;
}
#i2{
    width: 200;
    transform: translate(190px,2200px);
    position: absolute;
}

#i3{
    width: 200;
    transform: translate(850px,2200px);
    position: absolute;
}



#i4{
    /* width: 200; */
    transform: translate(1050px,1800px);
    position: absolute;
}

#i5{
    /* width: 200; */
    transform: translate(180px,1800px);
    position: absolute;
}

#i6{
    /* width: 200; */
    transform: translate(570px,1800px);
    position: absolute;
}

#i7{
    /* width: 200; */
    transform: translate(810px,1800px);
    position: absolute;
}



#video{
    /* width: 200; */
    transform: translate(400px,2650px);
    position: absolute;
    font-family:Gilroy-RegularItalic;
    font-size: 16pt;
    color: rgb(201, 255, 25);
   
}

/* .slider-container {
scrollbar-width: none;
-ms-overflow-style: none;
}

.slider-container::-webkit-scrollbar {
display: none;
}
       */
.slider-container {
width: 61%; /* 设置容器宽度 */
/* height: 50%; */
overflow-x: scroll;
white-space: nowrap; /* 禁止换行 */
position: relative; /* 设置容器为固定定位 */
top: 250px; /* 设置容器相对于页面顶部的距离 */
left: 350px; /* 设置容器相对于页面左侧的距离 */
/*border: 1px solid #ccc; /* 添加边框样式 */
padding: 10px; /* 添加内边距 */
z-index: 5;
}

.slider-item {
display: inline-block; /* 横向排列 */
width: 700px; /* 设置每个图片项的宽度 */
height: auto; /* 设置每个图片项的高度 */
margin-right: 0px; /* 设置右侧外边距，调整图片之间的间距 */
background-color: #f0f0f0; /* 添加背景颜色，便于查看位置 */
z-index: 5;
}
    
.slider-item:last-child {
 margin-right: 0; /* 最后一个图片项去除右侧外边距 */
 z-index: 5;
}

.slider-container {
scrollbar-width: none;
-ms-overflow-style: none;
}

.slider-container::-webkit-scrollbar {
display: none;
}