@font-face {
    font-family: 'Gilroy-LightItalic';
    src:url('font/Gilroy-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Gilroy-RegularItalic';
    src:url('font/Gilroy-RegularItalic.ttf') format('truetype');
}
body{
    background-color: #1E1E1E;
    height: 2000px;
    width: 500px;
    cursor: url(image/mouse2-25.ico),auto;
}

#la{
    top: -250px;
    left: -50px;
    /* position: absolute; */
    position: fixed;
    transform: rotate(2deg);
    z-index: 1;
}


#p1{
    font-family:Gilroy-RegularItalic;
    transform: translate(850px,100px);
    position: absolute;
    font-size: 18pt;
    text-align: center;
    color: rgb(24, 173, 61);
}

#p6{
    font-family:Gilroy-RegularItalic;
    transform: translate(850px,370px);
    /* width: 600px; */
    /* text-align: center; */
    position: absolute;
    font-size: 12pt;
    color: rgb(24, 173, 61);
}

#p2{
    font-family:Gilroy-RegularItalic;
    transform: translate(850px,350px);
    position: absolute;
    color: rgb(24, 173, 61);
}

#p3{
    font-family:Gilroy-RegularItalic;
    transform: translate(850px,320px);
    color: rgb(24, 173, 61);
}

#p4{
    font-family:Gilroy-LightItalic;
    transform: translate(850px,420px);
    width: 500px;
    /* text-align: center; */
    position: absolute;
    font-size: 12pt;
    color: rgb(24, 173, 61);
}

#p5{
    font-family:Gilroy-RegularItalic;
    transform: translate(150px,700px);
    width: 600px;
    /* text-align: center; */
    position: absolute;
    font-size: 16pt;
    color: rgb(24, 173, 61);
}

#i1{
    transform: translate(150px,30px);
    position: absolute;

}

