.menpiao{
    /* position:absolute; */
    transform: translate(-1000px,-1000px) 
}
body{
    background-color: #1E1E1E;
    /* background-size: 100%;
    background-image: url("image/1/4.jpg") */
    height: 2000px;
    cursor: url(image/mouse2-25.ico),auto;
}
@font-face {
    font-family: 'Gilroy-LightItalic';
    src:url('font/Gilroy-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Gilroy-RegularItalic';
    src:url('font/Gilroy-RegularItalic.ttf') format('truetype');
    
    /* cursor: url('image/mouse.png'), default; */
     
}
@font-face {
    font-family: 'pixel-black';
    src:url('font/pixel-black.ttf') format('truetype');}

 @font-face {
    font-family: 'Basicdots';
    src:url('font/Basicdots.TTF') format('truetype');}

#la{
    top: -250px;
    left: 80px;
    /* position: absolute; */
    position: fixed;
    transform: rotate(2deg);
}

 #custom-cursor {
 cursor: url('image/mouse2-25.ico'), auto;
}

/* body {
    cursor: url('image/mouse.png'), default;
   } */
 




.p11{
    width: 300px;
    font-family:Gilroy-LightItalic;
    color: #f31cfb;
    font-size: 12pt;
    transform: translate(400px,-350px);
    position: absolute;
    z-index: 3;
}

#p1{
   
    width: 900px;
    font-family:Gilroy-LightItalic;
    color: #ffffff;
    font-size: 30pt;
    transform: translate(330px,-120px);
    z-index: 4;
    position: absolute;
}
/* #p1:hover{opacity:50%;} */

#p2{
    position: absolute;
    width: 900px;
    font-family:Gilroy-LightItalic;
    color: #ffffff;
    font-size: 30pt;
    transform: translate(330px,-388px);
    z-index: 4;
}
.p3{
    width: 370px;
    font-family:Gilroy-LightItalic;
    color:#ffffff;
    font-size: 27pt;
    position: absolute;
    z-index: 1;
    transform: translate(330px,-240px)
}
.p4{
    position: absolute;
    width: 360px;
    font-family:Gilroy-LightItalic;
    color: #ffffff;
    font-size: 30pt;
    transform: translate(330px,10px);
    z-index: 4;
}
.p5{
    width: 360px;
    font-family:Gilroy-LightItalic;
    color: #ffffff;
    font-size: 30pt;
    transform: translate(330px,130px);
    z-index: 1;
}
.p6{
    width: 360px;
    font-family:Gilroy-LightItalic;
    color: #ffffff;
    font-size: 30pt;
    transform: translate(330px,145px);
    z-index: 1;
}

.p7{
    width: 360px;
    font-family:Gilroy-LightItalic;
    color: #ffffff;
    font-size: 30pt;
    transform: translate(330px,185px);
    z-index: 1;
}

.p8{
    width: 600px;
    font-family:Gilroy-LightItalic;
    color: #ffffff;
    font-size: 30pt;
    transform: translate(330px,225px);
    z-index: 1;
}

.p9{
    width: 600px;
    font-family:Gilroy-LightItalic;
    color: #ffffff;
    font-size: 30pt;
    transform: translate(330px,265px);
    z-index: 1;
}

.p10{
    width: 600px;
    font-family:Gilroy-LightItalic;
    color: #ffffff;
    font-size: 25pt;
    transform: translate(330px,320px);
    z-index: 1;
}

.p11{
    width: 600px;
    font-family:Gilroy-LightItalic;
    color: #ffffff;
    font-size: 30pt;
    transform: translate(330px,325px);
    z-index: 1;
}

.p12{
    width: 600px;
    font-family:Gilroy-LightItalic;
    color: #ffffff;
    font-size: 30pt;
    transform: translate(330px,485px);
    z-index: 1;
}

.p13{
    width: 600px;
    font-family:Gilroy-LightItalic;
    color: #ffffff;
    font-size: 30pt;
    transform: translate(330px,530px);
    z-index: 1;
}

.p14{
    width: 600px;
    font-family:Gilroy-LightItalic;
    color: #ffffff;
    font-size: 30pt;
    transform: translate(330px,575px);
    z-index: 1;
}
.number1{
    position: absolute;
     width: 600px; 
    font-family: Gilroy-LightItalic;
    color: #515151;
    font-size: 14pt;
    z-index: 1;
    transform: translate(1310px,-740px) rotate(-90deg);
}

/* #green{
 top: -10px;
 left: 220px;
 position: absolute;
 z-index: 1;
 transition: .4s;
 opacity: 60%;
}
#green:hover{opacity:100%;}

#green2{
    top: -10px;
    left: 220px;
    position: absolute;
    z-index: 1;
    transition: .4s;
    opacity: 60%;
   } */

/* #h{
    top: 160px;
    left: 220px;
    position: absolute;
    z-index: 1; 
    transition: .4s;
    opacity: 60%;
   }
#h:hover{opacity:100%;} */
/* 
#b{
    top: 330px;
    left: 220px;
    position: absolute;
    z-index: 1;
    transition: .4s;
    opacity: 60%;
   }
#b:hover{opacity:100%;} */


/* #n{
    top: 500px;
    left: 220px;
    position: absolute;
    z-index: 1;
    transition: .4s;
    opacity: 60%;
}
#n:hover{opacity:100%;} */

/* #s{
    top: 670px;
    left: 220px;
    position: absolute;
    z-index: -2;
    transition: .4s;
    opacity: 60%;
}
#s:hover{opacity:100%;} */

#four{
    top: 840px;
    left: 220px;
    position: absolute;
    z-index: -2;
    transition: .4s;
    /* opacity: 60%; */
}
/* #four:hover{opacity:100%;} */

#take{
    top: 1010px;
    left: 220px;
    position: absolute;
    z-index: 1;
    transition: .4s;
    opacity: 60%;
}
#take:hover{opacity:100%;}

#book{
    top: 1180px;
    left: 220px;
    position: absolute;
    z-index: 1;
    transition: .4s;
    opacity: 60%;
}
#book:hover{opacity:100%;}

#mimi{
    top: 1350px;
    left: 220px;
    position: absolute;
    z-index: 1;
    transition: .4s;
    opacity: 60%;
}
#mimi:hover{opacity:100%;}

#m{
    top: 1520px;
    left: 220px;
    position: absolute;
    z-index: 1;
    transition: .4s;
    opacity: 60%;
}
#m:hover{opacity:100%;}

#black{
    top: 1690px;
    left: 220px;
    position: absolute;
    z-index: 1;
    transition: .4s;
    opacity: 60%;
}
#black:hover{opacity:100%;}

#water{
    top: 1860px;
    left: 220px;
    position: absolute;
    z-index: 1;
    transition: .4s;
    opacity: 60%;
}
#water:hover{opacity:100%;}

#buy{
    top: 2030px;
    left: 220px;
    position: absolute;
    z-index: 1;
    transition: .4s;
    opacity: 60%;
}
#buy:hover{opacity:100%;}

#font{
    top: 2200px;
    left: 220px;
    position: absolute;
    z-index: 1;
    transition: .4s;
    opacity: 60%;
}
#font:hover{opacity:100%;}


/* #chuang-4{
    top: 520px;
    left: 245px;
    width: 1105px;
    height: 160px;
    position:absolute;
    z-index: -1;
    background-color:rgba(0, 0, 0, 0.649);
    transform: translate(80px, 48px);
    transition: .4s;
}
#chuang-4:hover{opacity: 0;} */
/* #chuang-5{
    top: 690px;
    left: 245px;
    width: 1105px;
    height: 160px;
    position:absolute;
    z-index: -1;
    background-color:rgba(40, 40, 40, 0.921);
    transform: translate(80px, 198px);
    transition: .4s;
} */
/* #chuang-5:hover{opacity: 0;}
#fj{
    top: 80px;
    left: 245px;
    position: absolute;
    z-index: -3;

} */

#green {
    width: 1500px;
    height: 200px;
    background-image: url("image/1/4-26.png");
    background-size: 100%;
    /* background-position:80px,50px; */
    position: relative;
    top: -85px;
    left: 80px;
    transition: background-image 0.3s ease-in-out;
    transition: .4s;
    opacity: 95%;
  }
  #green:hover {
    opacity:100%;
    background-image: url("image/1/4-21.png");
  }

  .h {
    width: 1500px;
    height: 200px;
    background-image: url("image/1/4-23.png");
    background-size: 100%;
    /* background-position: 90px 200px; */
    position: relative;
    top: -150px;
    left: 80px;
    transition: background-image 0.3s ease-in-out;
    transition: .4s;
    opacity: 95%;
  }
  .h:hover {
    opacity:100%;
    background-image: url("image/1/4-22.png");
  }

  .b {
    width: 1500px;
    height: 200px;
    background-image: url("image/1/4-30.png");
    background-size: cover;
    /* background-position:90px,-50px; */
    position: relative;
    top: 190px;
    left: 90px;
    transition: background-image 0.3s ease-in-out;
    transition: .4s;
    opacity: 95%;
    position:absolute;
  }
  .b:hover {
    opacity:100%;
    background-image: url("image/1/网站2-09.png");
  }

  .n {
    width: 1500px;
    height: 200px;
    background-image: url("image/1/4-31.png");
    background-size: cover;
    /* background-position:90px,-50px; */
    position: relative;
    top: 320px;
    left: 90px;
    transition: background-image 0.3s ease-in-out;
    transition: .4s;
    opacity: 95%;
    position:absolute;
  }
  .n:hover {
    opacity:100%;
    background-image: url("image/1/网站3-10.png");
  }
  
  .s {
    width: 1500px;
    height: 200px;
    background-image: url("image/1/4-28.png");
    background-size: cover;
    /* background-position:90px,-50px; */
    position: relative;
    top: 450px;
    left: 90px;
    transition: background-image 0.3s ease-in-out;
    transition: .4s;
    opacity: 95%;
    position:absolute;
  }
  .s:hover {
    opacity:100%;
    background-image: url("image/1/4-14.png");
  }

  .four {
    width: 1500px;
    height: 200px;
    background-image: url("image/1/4-32.png");
    background-size: cover;
    /* background-position:90px,-50px; */
    position: relative;
    top: 580px;
    left: 90px;
    transition: background-image 0.3s ease-in-out;
    transition: .4s;
    opacity: 95%;
    position:absolute;
  }
  .four:hover {
    opacity:100%;
    background-image: url("image/1/网站2-11.png");
  }
  
  .take {
    width: 1500px;
    height: 200px;
    background-image: url("image/1/4-29.png");
    background-size: cover;
    /* background-position:90px,-50px; */
    position: relative;
    top: 710px;
    left: 90px;
    transition: background-image 0.3s ease-in-out;
    transition: .4s;
    opacity: 95%;
    position:absolute;
  }
  .take:hover {
    opacity:100%;
    background-image: url("image/1/4-13.png");
  }

  .book {
    width: 1500px;
    height: 200px;
    background-image: url("image/1/4-25.png");
    background-size: cover;
    /* background-position:90px,-50px; */
    position: relative;
    top: 840px;
    left: 90px;
    transition: background-image 0.3s ease-in-out;
    transition: .4s;
    opacity: 95%;
    position:absolute;
  }
  .book:hover {
    opacity:100%;
    background-image: url("image/1/4-16.png");
  }

  .mimi {
    width: 1500px;
    height: 200px;
    background-image: url("image/1/4-33.png");
    background-size: cover;
    /* background-position:90px,-50px; */
    position: relative;
    top: 970px;
    left: 90px;
    transition: background-image 0.3s ease-in-out;
    transition: .4s;
    opacity: 95%;
    position:absolute;
  }
  .mimi:hover {
    opacity:100%;
    background-image: url("image/1/网站2-12.png");
  }

  .m {
    width: 1500px;
    height: 200px;
    background-image: url("image/1/4-24.png");
    background-size: cover;
    /* background-position:90px,-50px; */
    position: relative;
    top: 1100px;
    left: 90px;
    transition: background-image 0.3s ease-in-out;
    transition: .4s;
    opacity: 95%;
    position:absolute;
  }
  .m:hover {
    opacity:100%;
    background-image: url("image/1/4-17.png");
  }

  .water {
    width: 1500px;
    height: 200px;
    background-image: url("image/1/4-34.png");
    background-size: cover;
    /* background-position:90px,-50px; */
    position: relative;
    top: 1230px;
    left: 90px;
    transition: background-image 0.3s ease-in-out;
    transition: .4s;
    opacity: 95%;
    position:absolute;
  }
  .water:hover {
    opacity:100%;
    background-image: url("image/1/4-18.png");
  }

  .buy {
    width: 1500px;
    height: 200px;
    background-image: url("image/1/4-35.png");
    background-size: cover;
    /* background-position:90px,-50px; */
    position: relative;
    top: 1360px;
    left: 90px;
    transition: background-image 0.3s ease-in-out;
    transition: .4s;
    opacity: 95%;
    position:absolute;
  }
  .buy:hover {
    opacity:100%;
    background-image: url("image/1/4-19.png");
  }

  .font {
    width: 1500px;
    height: 200px;
    background-image: url("image/1/4-36.png");
    background-size: cover;
    /* background-position:90px,-50px; */
    position: relative;
    top: 1490px;
    left: 90px;
    transition: background-image 0.3s ease-in-out;
    transition: .4s;
    opacity: 95%;
    position:absolute;
  }
  .font:hover {
    opacity:100%;
    background-image: url("image/1/4-20.png");
  }