@font-face {
    font-family: 'Gilroy-LightItalic';
    src:url('font/Gilroy-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Gilroy-RegularItalic';
    src:url('font/Gilroy-RegularItalic.ttf') format('truetype');
}
body{
    background-color: rgb(0, 0, 0);
}

#video{
    /* width: 200; */
    transform: translate(400px,2250px);
    position: absolute;
    /* font-family:Gilroy-RegularItalic; */
    /* font-size: 16pt; */
    /* color: rgb(201, 255, 25); */
   
}


#hb{
   transform: translate(130px, 70px); 
   position: absolute;
}
#hb1{
    transform: translate(1050px, 70px); 
    position: absolute;
 }
#p{
    font-family:Gilroy-LightItalic;
    width: 550;
    transform: translate(880px,260px);
    color: rgb(255, 25, 228);
    position: absolute;
}
#p1{
    font-family:Gilroy-RegularItalic;
    width: 600;
    font-size: 18pt;
    transform: translate(880px,40px);
    color: rgb(255, 25, 228);
    position: absolute;

}
#p12{
    font-family:Gilroy-LightItalic;
    width: 600;
    font-size: 14pt;
    transform: translate(880px,100px);
    color: rgb(255, 25, 228);
    position: absolute;

}
#p2{
    font-family:Gilroy-LightItalic;
    width: 600;
    transform: translate(880px,130px);
    color: rgb(255, 25, 228);
    position: absolute;
}
#p3{
    font-family:Gilroy-RegularItalic;
   
    font-size: 14pt;
    transform: translate(130px,650px);
    color: rgb(255, 25, 228);
    position: absolute;
}
#p4{
    font-family:Gilroy-RegularItalic;
   
    font-size: 14pt;
    transform: translate(130px,1800px);
    color: rgb(255, 25, 228);
    position: absolute;
}
#p5{
    font-family:Gilroy-RegularItalic;
   
    font-size: 14pt;
    transform: translate(130px,2300px);
    color: rgb(255, 25, 228);
    position: absolute;
}

#p6{
    font-family:Gilroy-RegularItalic;
   
    font-size: 14pt;
    transform: translate(130px,1200px);
    color: rgb(255, 25, 228);
    position: absolute;
}


#w1{
    transform: translate(50px,1000px);
    position: absolute;
}
#w2{
    transform: translate(800px,1000px);
    position: absolute;
}

/* #w3{ */
    /* transform: translate(50px,1500px); */
    /* position: absolute; */
/* } */
#s1{
    transform: translate(80px,1640px);
    position: absolute;
}
#s2{
    transform: translate(532px,1640px);
    position: absolute;
}
#s3{
    transform: translate(983px,1640px);
    position: absolute;
}

#i1{
    width: 200;
    transform: translate(130px,750px);
    position: absolute;
    /* filter: drop-shadow(5px 5px 15px rgba(246, 28, 137, 0.842)); */
}
#i1:hover img {
    transform: scale(1.5);
  }



/* #i2{
    width: 200;
    transform: translate(1000px,750px);
    position: absolute;
    filter: drop-shadow(5px 5px 15px rgba(246, 28, 137, 0.842));
}
#i2:hover img {
    transform: scale(1.5);
  } */

  #i3{
    width: 200;
    transform: translate(565px,750px);
    position: absolute;
    /* filter: drop-shadow(5px 5px 15px rgba(246, 28, 137, 0.842)); */
}
#i3:hover img {
    transform: scale(1.5);
  }



#i4{
    width: 200;
    transform: translate(1000px,750px);
    position: absolute;
    /* filter: drop-shadow(5px 5px 15px rgba(246, 28, 137, 0.842)); */
}
#i4:hover img {
    transform: scale(1.5);
  }

#i5{
    width: 200;
    transform: translate(250px,1300px);
    position: absolute;
    /* filter: drop-shadow(5px 5px 15px rgba(246, 28, 137, 0.842)); */
}
#i5:hover img {
    transform: scale(1.5);
  }

#i6{
    width: 200;
    transform: translate(1000px,1300px);
    position: absolute;
    /* filter: drop-shadow(5px 5px 15px rgba(246, 28, 137, 0.842)); */
}
#i6:hover img {
    transform: scale(1.5);
  }
/* 
.slideshow-container {
    padding-top: 1030px;
    width: 70%;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
}

.slideshow {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slideshow img {
    height: 500px;
    width: 900px;
    object-fit: cover;
    flex: 0 0 auto;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000000;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.prev {
    left: 80px;
    top: 1250px;
    color: rgb(255, 25, 228)
}

.next {
    right: 60px;
    top: 1260px;
    color: rgb(255, 25, 228)
} */

#la{
    top: -250px;
    left: -50px;
    position: absolute;
    position: fixed;
    transform: rotate(2deg);
    z-index: 1;
}

.slider-container {
    width: 70%; /* 设置容器宽度 */
    /* height: 50%; */
    overflow-x: scroll;
    white-space: nowrap; /* 禁止换行 */
    position: relative; /* 设置容器为固定定位 */
    top: 1900px; /* 设置容器相对于页面顶部的距离 */
    left: 220px; /* 设置容器相对于页面左侧的距离 */
    /*border: 1px solid #ccc; /* 添加边框样式 */
    padding: 10px; /* 添加内边距 */
    z-index: 5;
    position: absolute;
    /* filter: drop-shadow(5px 5px 15px rgba(246, 28, 137, 0.842)); */
    }
    
    .slider-item {
    display: inline-block; /* 横向排列 */
    width: 500px; /* 设置每个图片项的宽度 */
    height: auto; /* 设置每个图片项的高度 */
    margin-right: -40px; /* 设置右侧外边距，调整图片之间的间距 */
    background-color: #f0f0f0; /* 添加背景颜色，便于查看位置 */
    z-index: 5;
    }
        
    .slider-item:last-child {
     margin-right: 0; /* 最后一个图片项去除右侧外边距 */
     z-index: 5;
    }
    
    .slider-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
    }
    
    .slider-container::-webkit-scrollbar {
    display: none;
    }





