*{margin: 0; padding: 0;}


 .swiper-container {
	 padding: 0;
        width: 800px;
        height: 350px;
        margin-top: 800px;
        
    }
    .swiper-slide {
		padding: 0;
        /* text-align: center; */
        /* transform: translate(150px, 20px);  */
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        /* -webkit-box-pack: center; */
        /* -ms-flex-pack: center; */
        /* -webkit-justify-content: center; */
        /* justify-content: center; */
        /* -webkit-box-align: center; */
        /* -ms-flex-align: center; */
        /* -webkit-align-items: center; */
        align-items: center;
    }
	.swiper-slide img{
		width: 100%;
		height: 350px;
	}
	a,a:link,a:visited{ color:#000;}
	.swiper-container .swiper-pagination-bullet{ background-color:#fff; filter:alpha(Opacity=100); -moz-opacity:1.0; opacity:1.0; margin-top:0px;  width:12px; height:12px;}
	.swiper-container .swiper-pagination-bullet-active{ background-color:rgb(0, 0, 0);}
	